* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 0 2%;
    background-color: blue;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}