.main-container {
    display: flex;
    padding: 20px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
}

.logo img {
    height: 90px;
}

nav.desktop-menu {
    display: flex;
    flex-wrap: wrap;
}

nav.desktop-menu ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav.desktop-menu ul li {
    margin-right: 30px;
}

nav.desktop-menu ul li a {
    font-family: var(--title-font);
    letter-spacing: 1.2px;
    font-size: 17px;
}

.menu-mobile-icon img {
    width: 30px;
}

nav.menu-mobile {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav.menu-mobile ul li {
    font-size: 18px;
    padding: 30px;
}

nav .fa.fa-linkedin,
nav .fa.fa-github {
    font-size: 20px;
}

.show-menu {
    display: block;
}

.hidden-menu {
    display: none;
}