.main-container {
    display: flex;
    padding: 20px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
}

.logo img {
    height: 90px;
}

nav.desktop-menu {
    display: flex;
    flex-wrap: wrap;
}

nav.desktop-menu ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav.desktop-menu ul li {
    margin-right: 30px;
}

nav.desktop-menu ul li a {
    font-family: var(--title-font);
    letter-spacing: 1.2px;
    font-size: 17px;
}

.menu-mobile-icon img {
    width: 30px;
}

nav.menu-mobile {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav.menu-mobile ul li {
    font-size: 18px;
    padding: 30px;
}

nav .fa.fa-linkedin,
nav .fa.fa-github {
    font-size: 1.5rem;
}

.show-menu {
    display: block;
}

.hidden-menu {
    display: none;
}

section#section-headline {
    display: flex;
    color: var(--text-color);
    padding: 100px 50px;
    align-items: center;
    gap: 40px;
}

.headline-info {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#section-headline h1 {
    font-family: var(--title-font);
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}

#section-headline h2 {
    font-family: var(--title-font);
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
}

.headline-buttons {
    display: flex;
    padding: 50px 0 30px;
    gap: 30px;
    width: 100%;
}

.headline-buttons button {
    padding: 15px 20px;
    font-size: 16px;
    width: 30%;
    font-family: var(--title-font);
    font-weight: 600;
    cursor: pointer;
}

.btn-bg {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 2px solid var(--secondary-color);
}

/* .btn-bg:hover {
    background-color: transparent;
} */

.btn-not-bg {
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.headline-img {
    position: relative;
}

.img-shadow {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #090c17, #090c17 5%, transparent);
}

section#about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 100px;
}

.content-about-left {
    position: relative;
}

.content-about-left-card {
    position: relative; 
    width: 280px;
    height: 480px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.profile-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    padding: 20px;
}

.image-profile {
    background: linear-gradient(55deg, #880088, #d44829, #f09f33);
    border-radius: 50%;
    padding: 3px 3px 0 3px;

}

.image-profile img {
    width: 180px;
    border-radius: 50%;
    transform: rotateY(180deg);
    background-color: var(--main-color);
}

.profile-description {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.5rem;
    font-family: var(--title-font);
}

.social-icons-profile {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons-profile img {
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(303deg) brightness(100%) contrast(100%);
    transition: all 0.4s;
}

.social-icons-profile img:hover {
    filter: invert(32%) sepia(68%) saturate(1305%) hue-rotate(339deg) brightness(96%) contrast(97%);
}


/* .content-about-left img {
    width: 400px;
    height: 400px;
    display: flex;
    background: linear-gradient(30.71deg, #d44829 7.511%, rgba(0, 20, 255, 0) 75.71%);
    backdrop-filter: blur(0px);
    border-radius: 50%;
}

.img-perfil-shadow {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #090c17, #090c17 5%, transparent);
} */

.content-about-right h3 {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.content-about-right p {
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.5;
}

button.download {
    padding: 15px 20px;
    font-size: 16px;
    width: auto;
    font-family: var(--title-font);
    font-weight: 400;
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

section#skills-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
    color: var(--text-color);
    position: relative;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--title-font);
    font-size: 1.5rem;
    margin-bottom: 100px;
}

.section-title h2 {
    text-align: center;
    color: var(--text-color);
}

.container-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.content-skills {
    /* width: 30%;
    background: var(--box-background);
    color: var(--text-color);
    padding: 30px;
    border-radius: 10px; */
    position: relative; 
    padding: 20px;
    width: 280px;
    /* height: 480px; */
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.skill-brand {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.skill-title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.border-html {
    border-bottom: 10px solid #ff5722;
}

.border-css {
    border-bottom: 10px solid #2196f3;
}

.border-js {
    border-bottom: 10px solid #f7e018;
}

.border-react {
    border-bottom: 10px solid #61dbfb;
}

.border-styled {
    border-bottom: 10px solid #d176ae;
}

.border-git {
    border-bottom: 10px solid #f05033;
}

.content-skills img {
    width: 55px;
    margin-bottom: 20px;
}

.content-skills h2 {
    margin-bottom: 10px;
}
section#projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 100px;
}

.container-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-content {
    position: relative; 
    width: 300px;
    height: 480px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.project-content-cover{
    width: 100%;
    height: 280px;
    background-color: white;
}

.project-1 {
    background-image: url('../assets/img/list-movies.png');
    background-position: center;
    background-size: cover;
}

.project-2 {
    background-image: url('../assets/img/advice-generator.png');
    background-position: center;
    background-size: cover;
}

.project-3 {
    background-image: url('../assets/img/appco.png');
    background-position: center;
    background-size: cover;
}

.project-4 {
    background-image: url('../assets/img/validador-de-formulario.png');
    background-position: center;
    background-size: contain;
}


.project-5 {
    background-image: url('../assets/img/section-four-cards.png');
    background-position: center;
    background-size: cover;
}

.project-6 {
    background-image: url('../assets/img/starbucks.png');
    background-position: center;
    background-size: cover;
}

.project-content-title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    color: var(--text-color);
    width: 100%;
}

.project-content-description {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 15px 15px 15px;
    color: var(--text-color);
    width: 100%;
    height: 120px;
}

.project-content-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.project-content-skills img {
    width: 28px;
}

.html-icon {
    filter: invert(61%) sepia(56%) saturate(7488%) hue-rotate(347deg) brightness(105%) contrast(101%);
}

.css-icon {
    filter: invert(46%) sepia(94%) saturate(2093%) hue-rotate(184deg) brightness(98%) contrast(94%);
}

.js-icon {
    filter: invert(93%) sepia(95%) saturate(914%) hue-rotate(341deg) brightness(99%) contrast(95%);
}

.react-icon {
    filter: invert(80%) sepia(27%) saturate(5588%) hue-rotate(173deg) brightness(110%) contrast(107%);
}

.project-content-access {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.project-content-access img {
    width: 25px;
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(303deg) brightness(100%) contrast(100%);
    transition: all 0.3s;
}

.project-content-access img:hover {
    filter: invert(32%) sepia(68%) saturate(1305%) hue-rotate(339deg) brightness(96%) contrast(97%);
}