.main-container {
    display: flex;
    padding: 20px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 200px;
    height: 50px;
    background-color: #fff;
    display: flex;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    font-family: var(--title-font);
    letter-spacing: 1.2px;
    font-size: 17px;
}